@{
    ViewBag.Title = "Home Page";
}

<!-- home section starts  -->

<div class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide" style="background: url(~/Content/images/home-bg-1.jpg) no-repeat; background-position: center; background-size: cover;">
                <section class="box">
                    <div class="content">
                        <span>never stop</span>
                        <h3>exploring</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde ex molestias soluta consequatur saepe aliquam, excepturi delectus consequuntur minus!</p>
                        <a href="#" class="btn">get started</a>
                    </div>
                </section>
            </div>

            <div class="swiper-slide" style="background: url(~/Content/images/home-bg-2.jpg) no-repeat; background-position: center; background-size: cover;">
                <section class="box second">
                    <div class="content">
                        <span>make tour</span>
                        <h3>amazing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde ex molestias soluta consequatur saepe aliquam, excepturi delectus consequuntur minus!</p>
                        <a href="#" class="btn">get started</a>
                    </div>
                </section>
            </div>

            <div class="swiper-slide" style="background: url(~/Content/images/home-bg-3.jpg) no-repeat; background-position: center; background-size: cover;">
                <section class="box">
                    <div class="content">
                        <span>explore the</span>
                        <h3>new world</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit unde ex molestias soluta consequatur saepe aliquam, excepturi delectus consequuntur minus!</p>
                        <a href="#" class="btn">get started</a>
                    </div>
                </section>
            </div>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</div>

<!-- home section ends -->